mural-global-back/.env
mural-global-front/node_modules
mural-global-front/.env
mural-global-front/build
mural-global-front/dist
mural-global-front/.cache
mural-global-front/.next
mural-global-front/.vscode
mural-global-front/.idea
mural-global-front/.DS_Store
mural-global-front/.env.local
mural-global-front/.env.development
mural-global-front/.env.production
mural-global-front/.env.test
mural-global/mural-global-back/venv
mural-global-back/app/__pycache__
mural-global-back/app/blueprints/__pycache__

